body {
    font-family: Open Sans;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background:#F4F4F4;

  }
  header {
    align-items: center;
    padding: 10px;
    background-color: #dbf1eb;
}

header img {
    width: 150px; /* Scale down the logo */
}

header ul {
    flex-direction: column;
    gap: 10px; /* Add space between links */
    padding: 0;
    list-style: none;
    margin: 10px 0;
    display: none;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: Open Sans;
}

.show-items {
  display: flex;
}
.toggle
{
  position: absolute;
  top: 0;
  right: 0;
}

/* Main */
main img
{
  width: 350px;
  align-items: center;
}
main h1
{
  text-align: center;
  font-family: Poppins;
}
main p
{
  font-size: 20px;
  font-style: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    padding: 1em 0;
    background: #222;
    color: #fff;
    margin-top: 2em;
}
footer p
{
    border-top: 2px solid #F4F4F4;
    padding-top: 15px;
    align-items: center;
}
footer nav
{
  justify-content: center;
}
/* --------desktop Media Query----------- */
@media (min-width: 1200px) {
  /* Header adjustments */

  header {
    background-color: #dbf1eb;
    color: rgb(53, 19, 19);
    padding: 1em 0;
    text-align: center;
    border-color: black;
  }
  header nav ul li a {
    color:rgb(65, 29, 29);
    text-decoration: none;
    font-family: Poppins;
    display: inline-block;
    margin-left: 50px;
   }
   #nav-items
   {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
  .toggle
  {
    display: none;
  }
  main {
    padding: 3em;
    text-align: center;
    font-size: 14px;
  }
  main p
  {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-style: bold;
  }
  main h2
  {
    background-color: yellow;
  }
  main img
  {
    align-items: start;
    width:fit-content ;
  }
  footer {
    text-align: center;
    padding: 1em 0;
    background: #222;
    color: #fff;
    margin-top: 2em;
  }
  footer p
  {
    border-top: 2px solid #F4F4F4;
    align-items: center;
  }
} 